title= title
meta(http-equiv="Content-type" content=" text/html ;charset=UTF-8")
meta(name='description' content="A new approach to male grooming. Fuzzly manufactures and sells natural products for healthy upkeep of beards, mo's and stubble. Care for your fuzz, let it bring you fuzzly feelings")

meta(name='robots' content='index, follow')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(name='google-site-verification' content='RRzgZeh4qAsMe1ZbP9TKgGALEUUdADDkqhFMFj6ISyU')

link(rel='icon' href='/favicon.ico' sizes='16x16 32x32 48x48 64x64' type='image/vnd.microsoft.icon')


| !{cachify_css('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')}
| !{cachify_css('/css/'+cssFile)}
| !{cachify_css('http://fonts.googleapis.com/css?family=Gafata')}
