title= title
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
| !{cachify_css('http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')}
| !{cachify_css('/css/style.css')}
| !{cachify_css('http://fonts.googleapis.com/css?family=Gafata')}
