extends layout

block content
    div.row
        div.col-md-6.col-md-offset-3.panel.panel-default.centerContent.text-center
            img(src='images/beard.png')
            h1 At Fuzzly we love beards
            p.help-block.introText
                 p
                    From From youthful whiskers to a full blessedman, facial hair should be worn with pride it should be nutured, nourished and cared for. We have developed a unique range of products that will help your beard fufil its true potential.

                p.lead <a href="https://twitter.com/fuzzlyfuzzly" target="_blank">fuzzly</a>'s natural, enriching products give the beard you love a super fuzzly feel.

                p    
                    If If you would like to be amoung the first to find out about fuzzly's selection of products. Please leave us an email address below so we can send you a special voucher when we're ready.

            form(action='/signup/',method='post')
                p.input-group
                    span.input-group-addon.darkInput 
                        span.glyphicon.glyphicon-envelope
                    input(name='email',type='text',placeholder='fuzzies@fuzz.ly').form-control.input-lg
                    input(name='id',type='hidden',value=query)
                p.help-block
                    small We won't send you spam, Unsubscribe at any time.
                p
                    button(type='submit').btn.btn-success.btn-lg Keep me posted
