extends layout

block content
    div.row
        div.col-md-6.col-md-offset-3.panel.panel-default.centerContent.text-center
            img(src='images/beard.png')
            h1 At Fuzzly we love beards
            p.help-block.introText
                 p
                    Celebrating Celebrating the beard is a daily routine here. In honour of our face rugs we have developed a range of products for beard owners (and fans) to care for their <a href='http://www.cockneyrhymingslang.co.uk/slang/strange_and_weird' target="_blank">strange and wierd.</a> Whatever your style, a beard is to be nutured, nourished and cared for and we felt it our duty to share with you our secrets.

                p.lead At <a href="https://twitter.com/fuzzlyfuzzly" target="_blank">fuzzly</a> we use our magic to give your beard fuzz.

                p    
                    If If you would like to be amoung the first to find out about fuzzly's selection of products. Please leave us an email address below so we can send you a special voucher when we're ready.

            form(action='/signup',method='post')
                p.input-group
                    span.input-group-addon.darkInput 
                        span.glyphicon.glyphicon-envelope
                    input(name='email',type='text',placeholder='fuzzies@fuzz.ly').form-control.input-lg
                p.help-block
                    small We won't send you spam, Unsubscribe at any time.
                p
                    button(type='submit').btn.btn-success.btn-lg Keep me posted
