extends layout

block content
    div.row
        div.col-md-6.col-md-offset-3.panel.panel-default.centerContent.text-center
            img(src='images/beard.png')
            h1 Lets face it ....
            p.help-block.introText
                 p
                    You're You're probably not a lumberjack, theres a good chance that you're not Prince Vultan either (although if you are). When considering how to look after your beard consider the following.

                p    
                    So So 

            form(action='/signup/',method='post')
                p.input-group
                    span.input-group-addon.darkInput 
                        span.glyphicon.glyphicon-envelope
                    input(name='email',type='text',placeholder='fuzzies@fuzz.ly').form-control.input-lg
                    input(name='id',type='hidden',value=query)
                p.help-block
                    small We won't send you spam, Unsubscribe at any time.
                p
                    button(type='submit').btn.btn-success.btn-lg Keep me posted
