extends layout

block content
    div.row
        div.col-md-6.col-md-offset-3.panel.panel-default.centerContent.text-center
            img(src='images/beard.png')
            h1 Thank you
            p.help-block.introText
                p.lead At <a href="https://twitter.com/fuzzlyfuzzly" target="_blank">fuzzly</a> we use our magic to give your beard fuzz.

                p    
                    Thank Thank you!<br>
                    Speak soon.<br>
                    The fuzzlies
